# dependencies
node_modules/

# build outputs
dist/
build/

# env files
.env
.env.*
!.env.example

# runtime generated data
uploads/
audios/

# editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-error.log*

# Large media files
*.mp3
*.wav
